
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px;
}


.message{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:white;
}

h3{
    padding: 20px;
    border: 3px solid rgb(62, 197, 250);
    border-radius: 10px;
    background-color: #747272b5;
}

@media only screen and (max-width: 768px) {
    .card-container {
        justify-content: center;
    }
}