 /* Add shadows to create the "card" effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2%;
  margin-top: 3%;
  width: 250px;
  height: 300px;
  position: relative;
  background: white;
}

/* On hover, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/* resizing the container on hover to stop the image from overflowing*/
.card:hover .image-container {
  object-fit: cover;
  height: 50%;
  transform: translateY(-1%);
  transform-origin: top;
  transition: transform 0.5s ease;
  overflow:hidden;
}

.card:hover .image-container::before{
  transform: translateY(0%);
}

.image-container {
  position: relative;
  height: 200px;
  padding: 10px;
  padding-top: 15px;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.image-container:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: white;
  transition: transform 0.5s ease;
  transform: translateY(100%);
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

/* position the icon in the bottom right corner of the image */
.image-container span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  transform: translate(-10%, -10%);
}


/* Add some padding inside the card container */
.container,
.container-hidden {
  padding: 0px 10px;
  text-align: left;
  font-size: 12px;
  width: fit-content;
  transition: transform 0.5s ease;
}

/* move the container up on hover to make space for the hidden one*/
.card:hover .container {
  position: relative;
  top: -5%;
}

.container-hidden {
  display: none;
  transition: transform 0.5s ease;
}

/* display the hidden container and move it up on hover */
.card:hover .container-hidden {
  display: block;
  position: relative;
  top: -5%;
}


/* name */
.container h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.container p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}